<ion-content class="animated fadeIn login auth-page">
    <div class="theme-bg"></div>
    <div class="auth-content">
        <!-- Logo -->
        <div class="animated fadeInDown">
            <div class="logo"></div>
            <h4 class="text-center">
                <ion-text color="light" class="fw700"> Bienvenido </ion-text>
            </h4>
        </div>

        <!-- Login form -->
        <form [formGroup]="onLoginForm" class="list-form">
            <ion-item class="animated fadeInUp">
                <ion-label position="floating">
                    <ion-icon name="mail" item-start></ion-icon>
                    Email
                </ion-label>
                <ion-input
                    color="secondary"
                    type="email"
                    formControlName="email"
                ></ion-input>
            </ion-item>
            <p
                class="text08"
                *ngIf="onLoginForm.get('email').touched && onLoginForm.get('email').hasError('required')"
            >
                <ion-text color="warning"> Campo requerido </ion-text>
            </p>

            <ion-item class="animated fadeInUp">
                <ion-label position="floating">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    Contraseña
                </ion-label>
                <ion-input
                    color="secondary"
                    type="password"
                    formControlName="password"
                ></ion-input>
            </ion-item>
            <p
                color="warning"
                class="text08"
                *ngIf="onLoginForm.get('password').touched && onLoginForm.get('password').hasError('required')"
            >
                <ion-text color="warning"> Campo requerido </ion-text>
            </p>
        </form>

        <!-- <p tappable (click)="forgotPass()" class="paz">
            <ion-text color="light">
                <strong>Olvidó la contraseña?</strong>
            </ion-text>
        </p> -->

        <div>
            <ion-button
                icon-left
                size="medium"
                expand="full"
                shape="round"
                color="dark"
                (click)="goToHome()"
                [disabled]="!onLoginForm.valid"
                tappable
            >
                <ion-icon name="log-in"></ion-icon>
                Ingresar
            </ion-button>

            <p class="text-center">
                <ion-text color="light"> O ingresa con: </ion-text>
            </p>

            <ion-grid class="btn-group">
                <ion-row class="ion-justify-content-center">
                    <ion-col size="4">
                        <ion-button
                            shape="round"
                            expand="full"
                            color="secondary"
                        >
                            <ion-icon name="logo-google"></ion-icon>
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>

        <!-- Other links -->
        <div class="text-center">
            <span (click)="goToRegister()" class="paz" tappable>
                <ion-text color="light">
                    <strong>Registrate</strong>
                </ion-text>
            </span>
        </div>
    </div>
</ion-content>
